<html>
    <h1><center><font size="15px" >Contact us</h1></font>
<body style="background-color:orange;">
 <font size="5px" >  <p> Prin. Dr. S. N. Bharambe
        Address :
        M. J. College,
        Jilha Peth
        Jalgaon - 425001
        Maharashtra (India)
        Email :mjcollege@kces.in
        Phone : +91-0257-2237363,</p>
   
 <p>  Contact Email :
   
  <p> For Arts Faculty - fai.mjc@kces.in</p>
   
  <p> For Commerce Faculty - fci.mjc@kces.in</p>
   
 <p>  For Science Faculty - fsi.mjc@kces.in</p>
 </p>  
 <p>
  Contact Email : For Examination
   
  <p> For Arts Faculty - examarts@kces.in</p>
   
  <p> For Commerce Faculty - examcomm@kces.in</p>
   
  <p> For Science Faculty - examsci@kces.in</p>
    </p></font>
    <center><button class="btn"><a href="/mjc/">Back</button></a>
    </center>
</body>
</html>